<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.AfteraccountMapper">
    <resultMap id="BaseResultMap" type="com.heeexy.example.model.Afteraccount">
        <id column="accountid" property="accountid" jdbcType="INTEGER"/>
        <result column="accountname" property="accountname" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        accountid, accountname
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.heeexy.example.model.AfteraccountExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from afteraccount
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from afteraccount
        where accountid = #{accountid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from afteraccount
        where accountid = #{accountid,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.heeexy.example.model.AfteraccountExample">
        delete from afteraccount
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.heeexy.example.model.Afteraccount">
        insert into afteraccount (accountid, accountname)
        values (#{accountid,jdbcType=INTEGER}, #{accountname,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.heeexy.example.model.Afteraccount">
        insert into afteraccount
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accountid != null">
                accountid,
            </if>
            <if test="accountname != null">
                accountname,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accountid != null">
                #{accountid,jdbcType=INTEGER},
            </if>
            <if test="accountname != null">
                #{accountname,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.heeexy.example.model.AfteraccountExample"
            resultType="java.lang.Integer">
        select count(*) from afteraccount
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update afteraccount
        <set>
            <if test="record.accountid != null">
                accountid = #{record.accountid,jdbcType=INTEGER},
            </if>
            <if test="record.accountname != null">
                accountname = #{record.accountname,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update afteraccount
        set accountid = #{record.accountid,jdbcType=INTEGER},
        accountname = #{record.accountname,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.heeexy.example.model.Afteraccount">
        update afteraccount
        <set>
            <if test="accountname != null">
                accountname = #{accountname,jdbcType=VARCHAR},
            </if>
        </set>
        where accountid = #{accountid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.heeexy.example.model.Afteraccount">
        update afteraccount
        set accountname = #{accountname,jdbcType=VARCHAR}
        where accountid = #{accountid,jdbcType=INTEGER}
    </update>
</mapper>