<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heeexy.example.dao.ProductCountryMapper">
    <resultMap id="BaseResultMap" type="com.heeexy.example.model.ProductCountry">
        <id column="pcID" jdbcType="INTEGER" property="pcid"/>
        <result column="productID" jdbcType="INTEGER" property="productid"/>
        <result column="countryCode" jdbcType="VARCHAR" property="countrycode"/>
        <result column="productlength" jdbcType="DOUBLE" property="productlength"/>
        <result column="productwidth" jdbcType="DOUBLE" property="productwidth"/>
        <result column="productheight" jdbcType="DOUBLE" property="productheight"/>
        <result column="importPrice" jdbcType="DOUBLE" property="importprice"/>
        <result column="exportPrice" jdbcType="DOUBLE" property="exportprice"/>
        <result column="volume" jdbcType="DOUBLE" property="volume"/>
        <result column="weight" jdbcType="DOUBLE" property="weight"/>
        <result column="isNew" jdbcType="VARCHAR" property="isnew"/>
        <result column="rebateRate" jdbcType="DOUBLE" property="rebaterate"/>
        <result column="importRate" jdbcType="DOUBLE" property="importrate"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        pcID, productID, countryCode, productlength, productwidth, productheight, importPrice,
        exportPrice, volume, weight, isNew, rebateRate, importRate
    </sql>
    <select id="selectByExample" parameterType="com.heeexy.example.model.ProductCountryExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from product_country
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from product_country
        where pcID = #{pcid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from product_country
        where pcID = #{pcid,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.heeexy.example.model.ProductCountryExample">
        delete from product_country
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.heeexy.example.model.ProductCountry">
        insert into product_country (pcID, productID, countryCode,
        productlength, productwidth, productheight,
        importPrice, exportPrice, volume,
        weight, isNew, rebateRate,
        importRate)
        values (#{pcid,jdbcType=INTEGER}, #{productid,jdbcType=INTEGER}, #{countrycode,jdbcType=VARCHAR},
        #{productlength,jdbcType=DOUBLE}, #{productwidth,jdbcType=DOUBLE}, #{productheight,jdbcType=DOUBLE},
        #{importprice,jdbcType=DOUBLE}, #{exportprice,jdbcType=DOUBLE}, #{volume,jdbcType=DOUBLE},
        #{weight,jdbcType=DOUBLE}, #{isnew,jdbcType=VARCHAR}, #{rebaterate,jdbcType=DOUBLE},
        #{importrate,jdbcType=DOUBLE})
    </insert>
    <insert id="insertSelective" parameterType="com.heeexy.example.model.ProductCountry">
        insert into product_country
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pcid != null">
                pcID,
            </if>
            <if test="productid != null">
                productID,
            </if>
            <if test="countrycode != null">
                countryCode,
            </if>
            <if test="productlength != null">
                productlength,
            </if>
            <if test="productwidth != null">
                productwidth,
            </if>
            <if test="productheight != null">
                productheight,
            </if>
            <if test="importprice != null">
                importPrice,
            </if>
            <if test="exportprice != null">
                exportPrice,
            </if>
            <if test="volume != null">
                volume,
            </if>
            <if test="weight != null">
                weight,
            </if>
            <if test="isnew != null">
                isNew,
            </if>
            <if test="rebaterate != null">
                rebateRate,
            </if>
            <if test="importrate != null">
                importRate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pcid != null">
                #{pcid,jdbcType=INTEGER},
            </if>
            <if test="productid != null">
                #{productid,jdbcType=INTEGER},
            </if>
            <if test="countrycode != null">
                #{countrycode,jdbcType=VARCHAR},
            </if>
            <if test="productlength != null">
                #{productlength,jdbcType=DOUBLE},
            </if>
            <if test="productwidth != null">
                #{productwidth,jdbcType=DOUBLE},
            </if>
            <if test="productheight != null">
                #{productheight,jdbcType=DOUBLE},
            </if>
            <if test="importprice != null">
                #{importprice,jdbcType=DOUBLE},
            </if>
            <if test="exportprice != null">
                #{exportprice,jdbcType=DOUBLE},
            </if>
            <if test="volume != null">
                #{volume,jdbcType=DOUBLE},
            </if>
            <if test="weight != null">
                #{weight,jdbcType=DOUBLE},
            </if>
            <if test="isnew != null">
                #{isnew,jdbcType=VARCHAR},
            </if>
            <if test="rebaterate != null">
                #{rebaterate,jdbcType=DOUBLE},
            </if>
            <if test="importrate != null">
                #{importrate,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.heeexy.example.model.ProductCountryExample"
            resultType="java.lang.Integer">
        select count(*) from product_country
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update product_country
        <set>
            <if test="record.pcid != null">
                pcID = #{record.pcid,jdbcType=INTEGER},
            </if>
            <if test="record.productid != null">
                productID = #{record.productid,jdbcType=INTEGER},
            </if>
            <if test="record.countrycode != null">
                countryCode = #{record.countrycode,jdbcType=VARCHAR},
            </if>
            <if test="record.productlength != null">
                productlength = #{record.productlength,jdbcType=DOUBLE},
            </if>
            <if test="record.productwidth != null">
                productwidth = #{record.productwidth,jdbcType=DOUBLE},
            </if>
            <if test="record.productheight != null">
                productheight = #{record.productheight,jdbcType=DOUBLE},
            </if>
            <if test="record.importprice != null">
                importPrice = #{record.importprice,jdbcType=DOUBLE},
            </if>
            <if test="record.exportprice != null">
                exportPrice = #{record.exportprice,jdbcType=DOUBLE},
            </if>
            <if test="record.volume != null">
                volume = #{record.volume,jdbcType=DOUBLE},
            </if>
            <if test="record.weight != null">
                weight = #{record.weight,jdbcType=DOUBLE},
            </if>
            <if test="record.isnew != null">
                isNew = #{record.isnew,jdbcType=VARCHAR},
            </if>
            <if test="record.rebaterate != null">
                rebateRate = #{record.rebaterate,jdbcType=DOUBLE},
            </if>
            <if test="record.importrate != null">
                importRate = #{record.importrate,jdbcType=DOUBLE},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update product_country
        set pcID = #{record.pcid,jdbcType=INTEGER},
        productID = #{record.productid,jdbcType=INTEGER},
        countryCode = #{record.countrycode,jdbcType=VARCHAR},
        productlength = #{record.productlength,jdbcType=DOUBLE},
        productwidth = #{record.productwidth,jdbcType=DOUBLE},
        productheight = #{record.productheight,jdbcType=DOUBLE},
        importPrice = #{record.importprice,jdbcType=DOUBLE},
        exportPrice = #{record.exportprice,jdbcType=DOUBLE},
        volume = #{record.volume,jdbcType=DOUBLE},
        weight = #{record.weight,jdbcType=DOUBLE},
        isNew = #{record.isnew,jdbcType=VARCHAR},
        rebateRate = #{record.rebaterate,jdbcType=DOUBLE},
        importRate = #{record.importrate,jdbcType=DOUBLE}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.heeexy.example.model.ProductCountry">
        update product_country
        <set>
            <if test="productid != null">
                productID = #{productid,jdbcType=INTEGER},
            </if>
            <if test="countrycode != null">
                countryCode = #{countrycode,jdbcType=VARCHAR},
            </if>
            <if test="productlength != null">
                productlength = #{productlength,jdbcType=DOUBLE},
            </if>
            <if test="productwidth != null">
                productwidth = #{productwidth,jdbcType=DOUBLE},
            </if>
            <if test="productheight != null">
                productheight = #{productheight,jdbcType=DOUBLE},
            </if>
            <if test="importprice != null">
                importPrice = #{importprice,jdbcType=DOUBLE},
            </if>
            <if test="exportprice != null">
                exportPrice = #{exportprice,jdbcType=DOUBLE},
            </if>
            <if test="volume != null">
                volume = #{volume,jdbcType=DOUBLE},
            </if>
            <if test="weight != null">
                weight = #{weight,jdbcType=DOUBLE},
            </if>
            <if test="isnew != null">
                isNew = #{isnew,jdbcType=VARCHAR},
            </if>
            <if test="rebaterate != null">
                rebateRate = #{rebaterate,jdbcType=DOUBLE},
            </if>
            <if test="importrate != null">
                importRate = #{importrate,jdbcType=DOUBLE},
            </if>
        </set>
        where pcID = #{pcid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.heeexy.example.model.ProductCountry">
        update product_country
        set productID = #{productid,jdbcType=INTEGER},
        countryCode = #{countrycode,jdbcType=VARCHAR},
        productlength = #{productlength,jdbcType=DOUBLE},
        productwidth = #{productwidth,jdbcType=DOUBLE},
        productheight = #{productheight,jdbcType=DOUBLE},
        importPrice = #{importprice,jdbcType=DOUBLE},
        exportPrice = #{exportprice,jdbcType=DOUBLE},
        volume = #{volume,jdbcType=DOUBLE},
        weight = #{weight,jdbcType=DOUBLE},
        isNew = #{isnew,jdbcType=VARCHAR},
        rebateRate = #{rebaterate,jdbcType=DOUBLE},
        importRate = #{importrate,jdbcType=DOUBLE}
        where pcID = #{pcid,jdbcType=INTEGER}
    </update>
</mapper>